*{
	margin: 0px;
	padding: 0px;
}
.footer{
	background-color:rgb(0, 0, 0);
}
.footer hr{
	background-color: rgb(255, 204, 0);
	width: 60%;
}
.footer-links{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}
.footer-links a{
	color: rgb(179, 143, 0);
}
.footer h3{
	text-transform: uppercase;
	font-family: 'Bodoni Moda', serif;
	margin-bottom: 40px;
	margin-top: 20px;
	color: rgb(179, 143, 0);
}
.footer p{
	font-family: 'Bodoni Moda', serif;
	color: #fff;
	margin-top: 10px;
}
.footer span{
	color: #fff;
}
.footer i{
	font-size: 20px;
	color: #fff;
}
.footer-icon i{
	color: rgb(179, 143, 0);
	font-size: 25px;
}
.footer .image-wrapper{
	width: 200px;
	margin-top: 50px;
	text-align: center;
}
.footer hr{
	color: rgb(179, 143, 0);
	width: 80%;
}
.footer p{
	text-align: center;
}
.footer .col-md-3{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer .footer-icon {
	padding: 0px 10px;
	width: 100%;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: center;
}